.col-md-12.header
  %h2
    = form_text.titleize
    = link_to 'CANCELAR', admin_news_index_path, class: 'btn btn-xs btn-default pull-right'
.col-md-12.form
  %hr
  = form_for news, url: url do |f|
    .form-group
      = f.label 'Título (200 Caracteres Máximo)'
      = f.text_field :title, class: 'form-control'
    .form-group
      = f.label 'Contenido'
      = f.text_area :body, class: 'form-control body'
    .form-group
      = f.label 'Author'
      = f.text_field :author, class: 'form-control'
    .form-group
    = f.submit form_text.upcase, class: 'btn btn-default pull-right'
