.container-fluid
  .col-md-2
  .col-md-8
    %h2 Actualizar Foto
    %hr
    = form_for @photo, url: admin_photo_path(@photo), html: { multipart: true } do |f|
      .form-group
        = f.label 'Descripción (200 Caracteres Máximo)'
        = f.text_area :description, class: 'form-control'
      .form-group
        = f.label 'Archivo'
        = f.file_field :file
        %p.help-block Selecciona una foto en formato PNG, JPG o GIF.
      .form-group
        = f.label 'Proyecto'
        = f.collection_select :project_id, Project.all, :id, :name, {}, class: 'form-control'
      .form-group
        = f.label :slider do
          %p
            = f.check_box :slider
            Mostrar en Página de Inicio
      .form-group
      = f.submit 'ACTUALIZAR FOTO', class: 'btn btn-default'
  .col-md-8
