.container-fluid.admin-photos
  .col-md-2
  .col-md-8
    %h2 Fotos
    = link_to 'SUBIR FOTO', new_admin_photo_path, class: 'btn btn-sm btn-default'
    %hr
    - @photos.each do |photo|
      .col-md-4
        = image_tag(photo.file.url(:medium))
        %p
          = photo.description
        %p
          = link_to 'EDITAR', edit_admin_photo_path(photo), class: 'btn btn-xs btn-default'
          = link_to 'ELIMINAR', admin_photo_path(photo), method: :delete, class: 'btn btn-xs btn-default'
  .col-md-2
