.container-fluid.admin-photos
  .col-md-2
  .col-md-8
    .row.header
      %h2.pull-left Fotos
      = link_to 'SUBIR FOTO', new_admin_photo_path, class: 'btn btn-xs btn-default pull-right'
    - @photos.each do |photo|
      .row
        %hr
        .col-md-3
          = image_tag(photo.file.url(:medium))
        .col-md-9
          - if photo.slider
            %span.tag PÁGINA DE INICIO
          %h6
            = format_time(photo.created_at)
          %p
            = photo.description
          %h5
            - if photo.project
              = photo.project.name
            - else
              Proyecto Pendiente
          %p
            = link_to 'EDITAR', edit_admin_photo_path(photo), class: 'btn btn-xs btn-default'
            = link_to 'ELIMINAR', admin_photo_path(photo),    class: 'btn btn-xs btn-default', method: :delete, data: { confirm: '¿Estás segurdo de elminar esta foto?'}
  .col-md-2
