.container-fluid.admin-projects
  .col-md-2
  .col-md-8
    .row.header
      %h2.pull-left Proyectos
      = link_to 'CREAR PROYECTO', new_admin_project_path, class: 'btn btn-xs btn-default pull-right'
    - @projects.each do |project|
      .row
        %hr
        .col-md-3
          - if project.photos.first
            .project-image= image_tag(project.photos.first.file.url(:medium))
          - else
            .project-image= image_tag('photo_placeholder.png')
        .col-md-9
          - if project.home
            %span.tag PÁGINA DE INICIO
          %h6
            = project.address
          %h3
            = project.name
          %p
            = project.description
          %h5
            = number_with_delimiter(project.beneficiaries)
            beneficiarios
          %p
            = link_to 'EDITAR',   edit_admin_project_path(project), class: 'btn btn-xs btn-default'
            = link_to 'ELIMINAR', admin_project_path(project),      class: 'btn btn-xs btn-default', method: :delete, data: { confirm: '¿Estás seguro de eliminar este proyecto?' }
  .col-md-2
