.container-fluid
  .col-md-2
  .col-md-8
    %h2 Editar Usuario
    %hr
    = form_for @user, url: admin_user_path(@user) do |f|
      .form-group
        = f.label 'Email'
        = f.text_field :email, class: 'form-control'
      .form-group
        = f.label 'Contraseña'
        = f.password_field :password, class: 'form-control'
      .form-group
        = f.label 'Confirmar Contraseña'
        = f.password_field :password_confirmation, class: 'form-control'
      .form-group
      = f.submit 'GUARDAR USUARIO', class: 'btn btn-default'
  .col-md-8
