.site-navbar
  %nav.navbar.navbar-default{role:  'navigation'}
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: root_path}
          %img.navbar-brand{alt: 'Proyecto Lumen', src: image_url('logo.jpg')}
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = highlight_navbar_link('INICIO', root_path, request.path)
          %li
            = highlight_navbar_link('PROYECTOS', projects_path, request.path)
          %li
            = highlight_navbar_link('NOTICIAS', news_index_path, request.path)
          %li
            = highlight_navbar_link('CONTACTO', contact_path, request.path)
          %li
            %form{action: 'https://www.paypal.com/cgi-bin/webscr', method: 'post', target: '_top'}
              %input{name: 'cmd', type: 'hidden', value: '_s-xclick'}
                %input{name: 'hosted_button_id', type: 'hidden', value: 'DNFRJGD9R2QKS'}
                  %input{alt: 'Dona al Proyecto Lumen por medio de PayPal', name: 'submit', class: 'btn btn-xs btn-default donation', type: 'submit', value: 'DONAR'}
                    %img{alt: '', border: '0', height: '1', src: 'https://www.paypalobjects.com/en_US/i/scr/pixel.gif', width: '1'}
          %li
            %a#facebook{href: 'https://www.facebook.com/proyectolumenac'}
              = icon('facebook')
          %li
            %a#twitter{href: 'https://twitter.com/proyectolumen'}
              = icon('twitter')

          %li
            %a#instagram{href: 'https://www.instagram.com/veoveoproyectolumen'}
              = icon('instagram')
