.site-navbar
  %nav.navbar.navbar-default{role:  'navigation'}
    .container-fluid
      / Brand and toggle get grouped for better mobile display
      .navbar-header
        %button.navbar-toggle.collapsed{'datatarget': '#bs-example-navbar-collapse-1', 'datatoggle': 'collapse', type:  'button'}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: root_path}
          %img.navbar-brand{alt: 'Proyecto Lumen', src: image_url('logo.jpg')}
      / Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = highlight_navbar_link('INICIO', root_path, request.path)
          %li
            = highlight_navbar_link('PROYECTOS', projects_path, request.path)
          %li
            = highlight_navbar_link('NOTICIAS', news_index_path, request.path)
          %li
            = highlight_navbar_link('CONTACTO', contact_path, request.path)
          %li
            = link_to 'DONAR', 'https://www.paypal.com/ve/cgi-bin/webscr?cmd=_flow&SESSION=tp15Y5ZgaBgwIfhg1mloabvwzSPbIVelovPzUwUibhlzhs8TjGj7-5W2-QS&dispatch=5885d80a13c0db1f8e263663d3faee8d64ad11bbf4d2a5a1a0d303a50933f9b2', class: 'btn btn-xs btn-default donation'
