!!!
%html
  %head
    %title Proyecto Lumen
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_access_key']}"
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    = render 'layouts/notice'
    = yield
