!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'description',        content: 'Proyecto Lumen es una ONG venezolana que trabaja con las comunidades para fortalecer su salud visual.'}
    %meta{name: 'viewport',           content: 'width=device-width, initial-scale=1'}
    %meta{property: 'og:title',       content: 'Proyecto Lumen'}
    %meta{property: 'og:description', content: 'Proyecto Lumen es una ONG venezolana que trabaja con las comunidades para fortalecer su salud visual.'}
    %title Proyecto Lumen
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['google_maps_access_key']}"
    = csrf_meta_tags
  %body
    = render 'layouts/navbar'
    = render 'layouts/notice'
    = yield
